# PlanAhead Generated physical constraints 

NET "i_columns[3]" LOC = P14;
NET "i_columns[2]" LOC = P16;
NET "i_columns[1]" LOC = P21;
NET "i_columns[0]" LOC = P23;
NET "o_rows[3]" LOC = P5;
NET "o_rows[2]" LOC = P7;
NET "o_rows[1]" LOC = P9;
NET "o_rows[0]" LOC = P11;
NET "i_clk" LOC = P123;
NET "i_reset" LOC = P112;
NET "o_keyPressed_Byte[7]" LOC = P67;
NET "o_keyPressed_Byte[6]" LOC = P74;
NET "o_keyPressed_Byte[5]" LOC = P75;
NET "o_keyPressed_Byte[4]" LOC = P78;
NET "o_keyPressed_Byte[3]" LOC = P79;
NET "o_keyPressed_Byte[2]" LOC = P80;
NET "o_keyPressed_Byte[1]" LOC = P81;
NET "o_keyPressed_Byte[0]" LOC = P82;
NET "o_keyPressed_Char[7]" LOC = P84;
NET "o_keyPressed_Char[6]" LOC = P85;
NET "o_keyPressed_Char[5]" LOC = P87;
NET "o_keyPressed_Char[4]" LOC = P88;
NET "o_keyPressed_Char[3]" LOC = P92;
NET "o_keyPressed_Char[2]" LOC = P93;
NET "o_keyPressed_Char[1]" LOC = P94;
NET "o_keyPressed_Char[0]" LOC = P95;
