
# PlanAhead Generated physical constraints 

NET "row[3]" LOC = P14;
NET "row[2]" LOC = P16;
NET "row[1]" LOC = P21;
NET "row[0]" LOC = P23;
NET "col[3]" LOC = P5;
NET "col[2]" LOC = P7;
NET "col[1]" LOC = P9;
NET "col[0]" LOC = P11;
NET "clk" LOC = P123;
NET "byte_out[7]" LOC = P67;
NET "byte_out[6]" LOC = P74;
NET "byte_out[5]" LOC = P75;
NET "byte_out[4]" LOC = P78;
NET "byte_out[3]" LOC = P79;
NET "byte_out[2]" LOC = P80;
NET "byte_out[1]" LOC = P81;
NET "byte_out[0]" LOC = P82;
NET "pulse_out" LOC = P84;
